[{:itonami.blueprint/social-impact [:child-safety :local-jobs :accountability], :itonami.blueprint/domain :management/child-care-services-management, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "1341", :itonami.blueprint/name "Independent Child Care Services Management Practice", :itonami.blueprint/governor :child-care-services-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-1341", :itonami.blueprint/license "AGPL-3.0-or-later"}]